body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  text-align: center;
}

.title{
  font-family: cursive;
  font-size: 100px;
  text-align: center;
  margin-top: 50px;
}

.text-form{
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

select, option {
  background-color: #35858B;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input{
  background-color: #35858B;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

input:hover {
  background-color: #219F94;
}

table{
  margin-left: auto;
  margin-right: auto;
}

th{
  padding: 0px 10px 20px 10px;
  border-bottom: 1px solid white;
}

td{
  padding-top: 5px;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background: black;
   color: white;
}
